@font-face {
  font-family: "FiraCode Medium";
  src: url(../fonts/FiraCode-Medium.ttf);
}

@font-face {
  font-family: "FiraCode Regular";
  src: url(../fonts/FiraCode-Regular.ttf);
}

@font-face {
  font-family: "FiraCode SemiBold";
  src: url(../fonts/FiraCode-SemiBold.ttf);
}
